<div class="side-right">
  <div class="side-user">
    <img src="http://img.t.sinajs.cn/t5/skin/public/profile_cover/073.jpg" class="bgImg" alt="">
    <img [routerLink]="['/user']" src={{userInfo.headUrl}} class="head-portrait" alt="">
    <p class="name">{{userInfo.nickName}}</p>
    <ul>
      <li>
        <p>{{userInfo.attentionNum}}</p>
        <span>关注</span>
      </li>
      <li>
        <p>{{userInfo.fans}}</p>
        <span>粉丝</span>
      </li>
      <li>
        <p>{{userInfo.blog}}</p>
        <span>微博</span>
      </li>
    </ul>
  </div>
  <div class="side-explain">
    <h4>收藏使用小帮助</h4>
    <div class="qs">
      <p>Q：为什么要收藏微博？</p>
      <P>A：微博变化太快，看到好东西，还不赶快收藏下来！</P>
    </div>
    <div class="qs">
        <p>Q：为什么要给收藏的微博加标签？</p>
        <P>A：加标签方便日后查找，同时系统也可以根据你的喜好进行微博推荐哦！</P>
    </div>
  </div>  
  <div class="side-opinion">
      <h4>微博意见反馈</h4>
      <div class="op">
          <p>欢迎使用微博并提出宝贵建议。请<a href="#">点击这里</a>提交微博意见反馈。</p>
          <p><a href="#">微博常见问题</a></p>
          <p><a href="#">微博客服专区</a></p>
          <p><a href="#">全国人大常委会《关于加强网络信息保护的决定》</a></p>
      </div>     
  </div>  
</div>
