<form [formGroup]="formModel" class="form-horizontal" (ngSubmit)="updateUserInfo()" novalidate>

  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">姓名</label>
    <div class="col-sm-10">
      <input type="text" formControlName="name" class="form-control" name="name" id="name">
    </div>
    <div [hidden]="formModel.get('name').untouched">
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('minlength','name')">* 姓名不能少于2位</span>
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('maxlength','name')">* 姓名不能大于15位</span>
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('required','name')">* 姓名不能为空</span>
    </div>
  </div>

  <div class="form-group">
    <label for="gender" class="col-sm-2 control-label">性别</label>
    <div class="col-sm-10">
      <input type="text" formControlName="gender" class="form-control" name="gender" id="gender">
    </div>
    <div [hidden]="formModel.get('gender').untouched">
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('validGender','gender')">* 性别只能为男或者女</span>
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('required','gender')">* 性别不能为空</span>
    </div>
  </div>

  <div class="form-group">
    <label for="address" class="col-sm-2 control-label">地址</label>
    <div class="col-sm-10">
      <input type="text" formControlName="address" class="form-control" name="address" id="address">
    </div>
    <div [hidden]="formModel.get('address').untouched">
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('validAddress','address')">* 请输入合法的地址</span>
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('required','address')">* 地址不能为空</span>
    </div>
  </div>

  <div class="form-group">
    <label for="birth" class="col-sm-2 control-label">出生日期</label>
    <div class="col-sm-10">
      <input type="text" formControlName="birth" class="form-control" name="birth" id="birth">
    </div>
    <div [hidden]="formModel.get('birth').untouched">
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('validBirth','birth')">* 正确格式为1990-01-01</span>
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('required','birth')">* 昵称不能为空</span>
    </div>
  </div>

  <div class="form-group">
    <label for="qq" class="col-sm-2 control-label">QQ</label>
    <div class="col-sm-10">
      <input type="number" formControlName="qq" class="form-control" name="qq" id="qq">
    </div>
    <div [hidden]="formModel.get('qq').untouched">
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('required','qq')">* qq不能为空</span>
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('minlength','qq')">* qq不能少于5位</span>
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('maxlength','qq')">* qq不能多于10位</span>
    </div>
  </div>

  <div class="form-group">
    <label for="prof" class="col-sm-2 control-label">职业</label>
    <div class="col-sm-10">
      <input type="text" formControlName="prof" class="form-control" name="prof" id="prof">
    </div>
    <div [hidden]="formModel.get('prof').untouched">
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('required','prof')">* 职业不能为空</span>
    </div>
  </div>

  <div class="form-group">
    <label for="flag" class="col-sm-2 control-label">标签</label>
    <div class="col-sm-10">
      <input type="text" formControlName="flag" class="form-control" name="flag" id="flag">
    </div>
    <div [hidden]="formModel.get('flag').untouched">
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('required','flag')">* 标签不为空</span>
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('minlength','flag')">* 标签最少5个字</span>
      <span class="col-sm-10 col-sm-offset-2 text-danger" [class.hidden]="!formModel.hasError('maxlength','flag')">* 标签最多15个字</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-success btn-block">修改</button>
    </div>
  </div>
</form>
