.post-blog {
    width: 600px;
    height: 200px;
    background-color: #fff;
    position: relative;
}
.post-blog .preview {
    position: absolute;
    bottom: -125px;
    left: 50px;
    width: 260px;
    min-height: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 999;
    padding: 5px;
}
.post-blog .preview h4 {
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
}
.post-blog .preview  span{
    position: absolute;
    top: 13px;
    right: 5px;
    color: #808080;
    cursor: pointer;
}
.post-blog .preview .preview-img {
    padding: 0;
}
.post-blog .preview img {
    width: 80px;
    height: 80px;
    margin: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.post-blog .preview .preview-img::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid #eb7350;
    border-left: 20px solid transparent; 
    position: absolute;
    top: 5px;
    right: -2px;
}
.post-blog .preview .preview-img i {
    position: absolute;
    top: 5px;
    right: -2px;
    z-index: 999;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
}
.post-blog .title {
    width: 200px;
    height: 20px;
    font-size: 16px;
    margin-left: 20px;
    padding-top: 5px;
    color: #b4daf0;

}
.post-blog .post-form{
    width: 600px;
    height: 180px;
    position: relative;
}
.post-blog .post-form textarea {
    width: 95%;
    height: 100px;
    margin: 0 auto;
}
.post-blog .post-form .emoj,
.post-blog .post-form .file,
.post-blog .post-form .issue {
    width: 60px;
    height: 20px;
    float: left;
    cursor: pointer;
    margin-left: 13px;
}
.post-blog .post-form .emoj:hover,
.post-blog .post-form .file:hover {
    color: #eb7350;
}
.post-blog .post-form .file {
    width: 80px;
    position: relative;
}
.post-blog .post-form .issue {
    width: 70px;
    height: 34px;
    position: absolute;
    bottom: 25px;
    right: 13px;
}
.post-blog .post-form .issue button {
    background-color: #eb7350;
    color: #fff;
}
.post-blog .post-form .file input{
    position: absolute;
    top: 0;
    left: 20px;
    opacity: 0;
}
