<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="thumbnail user-top">
      <img class="headPic" src="http://tva1.sinaimg.cn/crop.0.0.1270.1270.180/0067lse9jw8fcuz4web86j30za0zawhg.jpg" alt="个人头像">
      <div class="caption">
        <h3 class="text-center">{{user?.user_nikename}}</h3>
        <p class="text-center">{{user?.user_email}}</p>
      </div>
    </div>
    <div class="user-top-nav" style="">
      <ul class="user-nav-group">
        <li class="user-nav active">
          <a [routerLink]="['./']">我的主页</a>
        </li>
        <li class="user-nav">
          <a>我的相册</a>
        </li>
        <li class="user-nav">
          <a>管理中心</a>
        </li>
      </ul>
  </div>
  </div>
</div>
