/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(180, 218, 240) !important;
    background-image: url(https://img.t.sinajs.cn/t6/skin/skin048/images/body_bg_page.jpg?id=201503261330);
    background-repeat: no-repeat;
    background-position: center 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #808080;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
.bg-img{
    position: fixed;
    background-color:rgba(190,190,190,0.5);
    z-index:9999;
}
.tra-img{
    text-align:center;position:relative;top:50%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
}
.zoom-out {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}